* {
  padding:0;
  margin:0;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px 20% 0;
  gap: 80px;
}

.list-container {
  box-shadow: 3px 7px 10px 5px #979797;
  height: 400px;
  overflow-y: scroll;
}

.title-list {
  background-color: white;
  text-align: left;
  padding: 20px 0 30px 20px;
  font: normal bold 24px 'Roboto Condensed', sans-serif;
  position: sticky;
  top: 0;
}

.b-3 {
  border: 3px solid black;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

img {
  height: 100px;
}